################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoTrashCartWebServiceApp/.vs/AutoTrashCartWebServiceApp/v16
/.vs
/AutoTrashCartWebServiceApp/.vs/AutoTrashCartWebServiceApp/config
/AutoTrashCartWebServiceApp/bin
/AutoTrashCartWebServiceApp/obj/Debug
/AutoTrashCartWebServiceApp/packages
/AutoTrashCartWebServiceApp/AutoTrashCartWebServiceApp.csproj.user
